<?xml version="1.0"?>
<config>
  <modules>
    <Mind_Actiologs>
      <version>0.1.0</version>
    </Mind_Actiologs>
  </modules>
  <global>
    <helpers>
      <actiologs>
        <class>Mind_Actiologs_Helper</class>
      </actiologs>
    </helpers>
	<blocks>
	  <actiologs>
		<class>Mind_Actiologs_Block</class>
	  </actiologs>
	</blocks>
	<models>
	  <actiologs>
		<class>Mind_Actiologs_Model</class>
		<resourceModel>actiologs_mysql4</resourceModel>
	  </actiologs>
	  <actiologs_mysql4>
		<class>Mind_Actiologs_Model_Mysql4</class>
		<entities>
			  <actionlogs>
				<table>actionlog</table>
			  </actionlogs>
		</entities>
	  </actiologs_mysql4>
	</models>
	<resources>
	  <actiologs_setup>
		<setup>
		  <module>Mind_Actiologs</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </actiologs_setup>
	  <actiologs_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </actiologs_write>
	  <actiologs_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </actiologs_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <actiologs>
	    <use>admin</use>
		<args>
		  <module>Mind_Actiologs</module>
		  <frontName>admin_actiologs</frontName>
		</args>
	  </actiologs>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <actiologs module="actiologs">
		<title>Actiologs</title>
		<sort_order>100</sort_order>
		<children>
		  <actionlogs module="actiologs">
		    <title>Manage Actionlogs</title>
			<sort_order>0</sort_order>
			<action>admin_actiologs/adminhtml_actionlogs</action>
		  </actionlogs>
		</children>
	  </actiologs>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<actiologs translate="title" module="actiologs">
			  <title>Actiologs</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <actionlogs translate="title">
			<title>Manage Actionlogs</title>
			<sort_order>0</sort_order>
		  </actionlogs>
			  </children>
			</actiologs>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<actiologs>
		  <file>actiologs.xml</file>
		</actiologs>
	  </updates>
	</layout>
  </adminhtml>
</config> 