.col-grp {

@media (min-width: 1001px) {
	
display: flex;
flex-wrap: wrap;
margin-left: -$lr-space;
margin-right: -$lr-space;

	.col {
		padding-left: $lr-space;
		padding-right: $lr-space;
		position: relative;
		align-items:flex-start;
		margin-bottom:0;
	}

	.col-1 { width : 8.3333%; }
	.col-2 { width : 16.6666% }
	.col-3 { width : 25% }
	.col-4 { width : 33.3333%; }
	.col-5 { width : 41.6665%; }
	.col-6 { width : 50%; }
	.col-7 { width : 58.3333%; }
	.col-8 { width : 66.6666%; }
	.col-9 { width : 75%; }
	.col-10 { width : 83.3334%; }
	.col-11 { width : 91.6667%; }
	.col-12 { width : 100%; }

	.offset-3 { margin-left: 33.3333% }

}

}