.myaccount ul,
#main-menu,
#main-menu ul { list-style: none; margin:0; padding:0 }

.myaccount {
	background: $blue;
	position: relative;
	span {
		cursor: pointer;
		display: block;
		text-align: left;
		position: relative;
		em { font-style:normal }
		i {
			font-size: 1.6rem;
			position: absolute;
			height:100%;
			display: flex;
			align-items:center;
			justify-content:center;
			top:0;
			&.icon-user { width:100%; }
			&.icon-chevron-small-down { width:1rem; right:0; }
		}
		&.active { @include borderradius(.5rem .5rem 0 0) }
	}
	ul {
		z-index: 1;
		display: none;
		position: absolute;
		background: $blue;
		@include calc(width, '100vw - 6rem');
		border-top:.1rem solid darken($blue, 5%);
		li {
			border-bottom:.1rem solid lighten($blue, 5%);
			font-size:1.4rem;
			&:first-child { border-top:.1rem solid lighten($blue, 5%); }
			&:last-child { 
				border:0;
				a { border:0; @include borderradius(0 0 .5rem .5rem); }
			}
		}
		a {
			color:$white; 
			display: block; 
			border-bottom:.1rem solid darken($blue, 5%);
			padding:1rem 1.5rem;
			&:hover { text-decoration: none; background:darken($blue, 2.5%) }
		}
	}
	span.active ~ ul { display: block } 

@media (max-width: 1000px) {
	span {
		padding:0;
		height:5rem;
		em { display:none }
		i.icon-chevron-small-down:before { content: "\e904"; }
	}
	ul { 
		top:0;
		left:5rem;
	}
}

@media (min-width: 1001px) {
	background: lighten($gray200, 3%);
	padding:2.5rem;
	span {
		padding-left: 6.3rem;
		padding-right: 3rem;
		i {
			&.icon-user { width:4.8rem; left:0; border-right:.1rem solid darken($blue, 5%); @include boxshadow( .1rem 0 0 lighten($blue, 5%) ) }
			&.icon-chevron-small-down { width:3rem; }
		}
	}
	ul {
		@include calc(width, '100% - 5rem');
		@include borderradius(0 0 .5rem .5rem);
	}
}

}

#main-menu {
	border-top:.1rem solid $gray200;

	ul {
		display: none;
	}

	li { 
		border-bottom:.1rem solid $gray200;
		a {
			text-decoration: none;
			display: block;
			color:lighten($gray400, 10%);
			position: relative;
			outline: none;
			@include transition(all .5s ease);
			i {
				width:4.8rem;
				height:4.8rem;
				display:flex;
				align-items:center;
				justify-content:center;
				@include transition(all .5s ease);
			}
			&:hover {
				color:$black;
				text-decoration: none;
				i { color:$blue }
			}
		}
	}
	li.has-submenu {
		position: relative;
		&>a:after {
			content: "\e902";
			position: absolute;
			right:0;
			top:0;
			height:100%;
			width:1rem;
			display: flex;
			align-items:center;
			justify-content:center;
		}
		&.active>a:after { content: "\e905";  }
	}
	li.active {
		&>a { color:$gray900 }
		i { color:$blue }
		ul { display: block }
	}

	
	
	li li:last-child { border:0 }
	li li a { font-size:1.4rem; text-decoration: none; padding:0.75rem 1.5rem }

@media (max-width: 1000px) {
	
	li {
		a {
			span { display:none }
		}
		&.has-submenu > a:after { content: "\e904"; }
	}

	li.active ul {
		position:absolute;
		left:5rem;
		top:0;
		background:$white;
		@include calc(width, '100vw - 6rem');
		z-index:1;
		border-bottom:.1rem solid $gray200;
		border-top:.1rem solid $gray200;
	}

	li li a { height:4.8rem; display:flex; align-items:center; }

}

@media (min-width: 1001px) {
	li a {
		padding:1.75rem 1.5rem 1.75rem 4.8rem;
		i {
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	}
	li.has-submenu a { padding-right:3rem }
	li.has-submenu > a:after { width:3rem } 
	li ul { border-top:.1rem solid $gray200; padding:1.25rem 0; }
	li li { border:0 }
	li li a { padding:.75rem 1.5rem .75rem 4.8rem; }
}

}